<a href="https://colab.research.google.com/github/swathipraveen/Python_practice/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Import Python Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [4]:
df = pd.read_csv("/content/Q7.csv")

In [5]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [9]:
df['Points'].describe()

count    32.000000
mean      3.596563
std       0.534679
min       2.760000
25%       3.080000
50%       3.695000
75%       3.920000
max       4.930000
Name: Points, dtype: float64

In [10]:
df['Points'].median()

3.6950000000000003

In [23]:
df['Points'].max()-df['Points'].min()

2.17

In [25]:
df['Points'].mode()

0    3.07
1    3.92
dtype: float64

In [26]:
df['Points'].var()

0.28588135080645166

In [27]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [28]:
df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [29]:
df.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64